<div class="pokemon">
    <img src="" alt="">
</div>


<div>
    <input #pokemonName required>
    <button (click)="searchPokemon(pokemonName.value)">Search</button>
</div>


<div *ngIf="pokemon then pokemonList else nopokemon"></div>

<ng-template #pokemonList>

    <div>
        <table class="table" style="width:100%" border="1">
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Weight</th>
                <th>Height</th>
                <th>Base Experience</th>
            </tr>
            <tr>
                <td>{{pokemon.name}}</td>

              <td>
                  <div *ngIf="isSelected; else front">
                        <a (click)="addToPokeball(pokemon.name)"><img src="{{pokemon.sprites.back_default}}"></a>
                  </div>
                  <ng-template #front>
                      <a (click)="addToPokeball(pokemon.name)"><img src="{{pokemon.sprites.front_default}}"></a>
                  </ng-template>

                </td>

                <td>{{pokemon.weight}}</td>
                <td>{{pokemon.height}}</td>
                <td>{{pokemon.base_experience}}</td>
            </tr>
        </table>
    </div>


</ng-template>

<ng-template #nopokemon>
    No pokemon found.
</ng-template>


<div *ngFor="let item of items">
    {{item.pokemon.name}}
    <img src="{{item.pokemon.sprites.front_default}}">
</div>